<!DOCTYPE html>
{% extends "LoginApp/base.html" %}
    {% block title_block %}
    <title>Customer List</title>
    {% endblock %}

    {% block body_block %}
    <div class="jumbotron m-1">
        <h3 align="center">Order Information</h3>
            {% if orderlist %}
            <table id="ordertable" class="display" style="width:100%">
                <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Placement date</th>
                      <th>Details</th>
                      <th>Customer ID</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Phone</th>
                    </tr>
                </thead>
                <!--
                   <tbody>
            {% for order in orderlist %}
                    <tr>
                      <td>{{order.id}}</td>
                      <td>{{order.placementdate}}</td>
                      <td>{{order.details}}</td>
                      <td>{{order.customer.pk}}</td>
                      <td>{{order.customer.firstname}}</td>
                      <td>{{order.customer.lastname}}</td>
                      <td>{{order.customer.email}}</td>
                      <td>{{order.customer.phonenumber}}</td>
                        <td><button type="submit" class="btn btn-danger"><a href="{% url 'LoginApp:deleteorder' order.id %}" style="text-decoration:none;color:white">Delete</a></button></td>
                    </tr>
            {% endfor %}
                  </tbody>
                  -->
        </table>
         {% else %}
        <p>No Customer Exist!!!</p>
         {% endif %}
    </div>
{% endblock %}
{% block script_block %}
        <script>
            $(document).ready(function() {
             $('#ordertable').DataTable( {

                    "processing": true,
                    "serverSide": true,
                    "ajax":"http://127.0.0.1:8000/api/orderapi/?format=json"
                } );
            } );
        </script>
{% endblock %}